<img src="/assets/img/burger.png" alt="burger" width="150" height="125">

<div class="form-container">
    <h2 id="add-title">Add a Burger</h2>
    <hr class="add-line">
    <form class="create-form">

        <div class="form-group">
            <input type="text" id="ca" name="burger_name" placeholder="Enter a burger name">
        </div>
        <br>

        <div class="form-group checkboxes">

            <div>
                <input type="radio" name="devoured" value="0" checked> Waiting to Be Devoured
                <input type="radio" name="devoured" value="1"> Has Been Devoured
            </div>
        </div>
        <br>
        <button type="submit">Add Burger</button>
    </form>
</div>