<img src="/assets/img/burger.png" alt="burger" width="150" height="125">

<div class="form-container">
    <h2 id="add-title">Add a Burger</h2>
    <hr class="add-line">
    <form id="create-form">

        <div class="form-group">
            <input type="text" id="ca" name="burger_name" placeholder="Enter a burger name">
        </div>
        <br>

        <div class="form-group checkboxes">

            <div>
                <input type="radio" name="devoured" id="notDev" value="0" checked> Waiting to Be Devoured
                <input type="radio" name="devoured" id="Dev" value="1"> Has Been Devoured
            </div>
        </div>
        <br>
        <button type="submit">Add Burger</button>
    </form>
</div>

<h3>For Devouring</h3>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Already Devoured</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>